@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

.banner {
    background-image: url(../images/header.png);
    padding-top: 70px;
    background-size: cover;
    height: 565px;
}

.banner__head {
    color: #ffffff;
}

.banner__title {
    font-size: 60px;
    font-weight: 700;
}

.banner__caption {
    font-size: 30px;
    font-weight: 300;
}

.banner__line {
    background: #cfbb95;
    height: 57px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

a {
    color: #f1ebdf;
    font-size: 16px;
    font-weight: bold;
    display: center;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: flex;
}

ul {
    list-style: none;
}

.banner__item {
    display: flex;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}

.contacts {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.banner__author {
    display: flex;
}

.banner_text {
    margin-left: 15px;
}

.topmenu__item {
    margin: 0;
    padding: 0;
}

.show-block {
    display: flex;
}

.topmenu__item {
    margin-left: 0;
    margin-top: 0;
}

.show-block {
    background: #cfbb95;
    height: 56px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

.show-block__btn {
    text-decoration: none;
    outline: none;
    border: 0;
    cursor: pointer;
    outline: 0;
    background: #cfbb95;
    color: #f1ebdf;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner__topmenu {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    bottom: 45px;
    width: 427px;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 30px;
    font: 100;
}

.topmenu__item:hover .topmenu__icon_unhover {
    display: none;
}

.topmenu__icon_hover {
    display: none;
}

.topmenu__item:hover .topmenu__icon_hover {
    display: inline-block;
}

a:hover {
    color: #e6a935;
    text-align: center;
}

span {
    padding-left: 6px;
}
.content{
    width: 830px;
    margin: 0 auto;
    padding: 0;
}
.footer{
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    height: 98px;
    background: #000000;
}
.footer_logo{
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.news__info{
    display: flex;
}
.info__arrow:hover .info__icon_unhover {
    display: none;
}

.info__icon_hover {
    display: none;
}

.info__arrow:hover .info__icon_hover {
    display: inline-block;
}